.container {
    width: 1000px;
    background: burlywood;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0, 0, 0.5);
}

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    color: blueviolet;
}

.content{
    display: flex;
    gap: 40px;
}

.content img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
}

ul{
    list-style-type: square;
    padding-left: 20px;
}